/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #fff7e4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilos do cabeçalho e menu de navegação */
header {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
    display: flex; /* Use Flexbox para alinhar os elementos internos */
    align-items: center; /* Alinhe verticalmente os elementos filhos */
    padding: 20px 50px; /* Aumentei o espaço acima e abaixo do cabeçalho */
    justify-content: space-between; /* Espaço entre o logo e o menu */
}

/* Estilo da imagem do logo */
.logo {
    max-width: 100px; /* Defina a largura máxima desejada para o logo em pixels */
    height: auto;
    margin-left: 5%;
}

.fund {
    min-height: 100vh; 
    background-image: url('img/background.jpg');
  
}

/* Estilos para os itens do menu */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em; /* Tamanho da fonte do texto do menu */
    display: flex;
    flex-direction: column; /* Define a direção da coluna para alinhar ícone e texto verticalmente */
    align-items: center;
}

nav ul li i {
    font-size: 2em;
    margin-bottom: 5px;
}

/* Estilos para o conteúdo principal (main) */
main {
    max-width: 80%;
    margin: 5% auto;
    text-align: center;
}



h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 5%;
}

/* Estilos para os botões em elementos com a classe "product" */
.product button {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.product button:hover {
    background-color: #d9ba46; /* Amarelo mais claro no hover */
}

/* Estilos para os contêineres de produtos e imagens */
.content-container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between; /* Espaço entre os contêineres pais */
}

.products-container,
.image-container {
    flex: 1;
    box-sizing: border-box;
}

/* Estilos para cada produto individual */
.products-container .product,
.image-container .product {
    margin: 10px;
}

.products-container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    flex-direction: column;
}

.product {
    background: #fff; /* Fundo branco para cada produto */
    padding: 10px; /* Espaçamento interno para cada produto */
    border: 1px solid #ccc;
    width: 100%; /* Cada produto ocupa cerca de metade do contêiner */
    box-sizing: border-box; /* Inclui a borda no cálculo do tamanho */
    text-align: center;
    margin-bottom: 20px;
}

.product-image {
    max-width: 100%; /* Ajusta a largura máxima das imagens para 100% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

table th {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #fff7e4; /* Amarelo suave */
}

/* Estilos para o rodapé */
footer {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
    text-align: center;
    padding: 3%;
  
    
}

/* Estilos responsivos */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5% 0;
    }
}

/* Estilos para a tela de login e contato */
.login-container {
    max-width: 60%;
    background: #f5d266; /* Amarelo mais intenso */
    margin: 10% auto;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 3% rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    font-size: 1.5em;
    color: #fff;
}

.login-container form .form-group {
    margin: 3% 0;
}

.login-container form label {
    display: block;
    font-weight: bold;
    color: #fff;
}

.login-container form input[type="text"],
.login-container form input[type="email"],
.login-container form input[type="tel"],
.login-container form select,
.login-container form textarea {
    width: 50%;
    padding: 3%;
    border: none;
    border-radius: 5px;
}

.login-container form input[type="text"],
.login-container form input[type="password"],
.login-container form input[type="email"],
.login-container form input[type="tel"] {
    width: 50%; /* Alterado para 50% para tornar os campos de entrada do mesmo tamanho */
    padding: 3%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.login-container form button {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.login-container form button:hover {
    background-color: #d9ba46; /* Amarelo mais claro no hover */
}

/* Estilos para a tela do blog */
.blog-post {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    margin: 20px auto;
}



.blog-post img {
    width: 150px; /* Define a largura das imagens */
    height: auto; /* Mantém a proporção da imagem */
}

.product img {
    width: 150px; /* Define a largura das imagens */
    height: auto; /* Mantém a proporção da imagem */
}


.blog-post h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.blog-post p {
    color: #333; /* Texto do post */
}

.blog-post a {
    text-decoration: none;
    color: #f5d266; /* Cor amarela semelhante aos outros botões */
    font-weight: bold;
    background-color: #fff; /* Fundo branco */
    padding: 5px 15px; /* Espaçamento do botão */
    border: 2px solid #f5d266; /* Borda amarela */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
}

.blog-post a:hover {
    color: #fff; /* Texto branco no hover */
    background-color: #d9ba46; /* Amarelo mais claro no hover */
}

.comment-box {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
}

.comment-box label {
    font-weight: bold;
    color: #333; /* Texto do formulário */
    display: block;
    margin-bottom: 20px;
}

.comment-box textarea {
    width: 97%; /* Ocupa toda a largura disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.comment-box button {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s; /* Efeito de transição suave */
}

.comment-box button:hover {
    background-color: #d9ba46; /* Amarelo mais claro no hover */
}

/* Estilos para a tela de contato */
.contact-container {
    max-width: 60%;
    background: #f5d266; /* Amarelo mais intenso */
    margin: 10% auto;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 3% rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h1 {
    font-size: 1.5em;
    color: #fff;
}

.contact-container form .form-group {
    margin: 3% 0;
}

.contact-container form label {
    display: block;
    font-weight: bold;
    color: #fff;
}

.contact-container form button {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

contact-container form button:hover {
    background-color: #d9ba46; /* Amarelo mais claro no hover */
}

/* Estilos para os formulários de endereço e pagamento */
form {
    max-width: 60%;
    background: #f5d266; /* Amarelo mais intenso */
    margin: 2% auto;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 0 3% rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinhe o texto à esquerda dentro dos formulários */
}

form h2 {
    font-size: 1.5em;
    color: #fff;
    background-color: #f5d266; /* Amarelo mais intenso */
    padding: 10px;
    border-radius: 5px 5px 0 0; /* Cantos arredondados apenas na parte superior */
}

form .form-group {
    margin: 2% 3% 0 0;
}

form label {
    display: block;
    font-weight: bold;
    color: #fff;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="date"]:focus {
    outline: none;
}

form button {
    background-color: #f5d266; /* Amarelo mais intenso */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s; /* Efeito de transição suave */
}

form button:hover {
    background-color: #d9ba46; /* Amarelo mais claro no hover */
}

button, .button {
    background-color: #f5d266;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

button:hover, .button:hover {
    background-color: #d9ba46;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background: #fff;
    max-width: 80%;
    font-size: 14px;
    border-radius: 10px;
    border: none; /* Remove as bordas da tabela */
}

table th,
table td {
    padding: 5px;
    text-align: left;
    border-radius: 10px;
    border: none; /* Remove as bordas das células da tabela */
}

